<template name="About">
  <div>
      <div class="page-header">
          <h1>About</h1>
      </div>
      <div class="row">
          <div class="col-sm-8">
            <p>AWARE Create was developed with one idea: to allow anyone to create advanced, smartphone based, Experience Sampling studies. Build on top of the <a href="http://www.awareframework.com">AWARE framework</a>, advanced mobile instrumentation previously requiring extensive software knowledge is now within reach. AWARE Create is completely free to use and its source code is <a href="">publicly available</a>. We love to hear from you if you have suggestions for further improvements &mdash; the easiest way to reach us is through our <a href="https://awareframework.slack.com/messages/aware_create/">Slack channel</a>.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-8">
            <h3>Contributors</h3>
            <p>AWARE Create is the result of a collaborative effort, and we wish to thank those who have made a contribution in the realisation of this tool.</p>
            <div class='contributor'>
			           <div class='contributor-image'><img src='/images/Niels.jpg' alt='profile picture' width="140" height="140"></div>
			           <div class='contributor-name'><a href='https://www.nielsvanberkel.com'>Niels van Berkel</a></div>
		        </div>
            <div class='contributor'>
			           <div class='contributor-image'><img src='images/Denzil.jpg' alt='profile picture' width="140" height="140"></div>
			           <div class='contributor-name'><a href='http://www.denzilferreira.com'>Denzil Ferreira</a></div>
		        </div>
            <div class='contributor'>
			           <div class='contributor-image'><img src='images/Ahsan.jpg' alt='profile picture' width="140" height="140"></div>
			           <div class='contributor-name'>Ahsan Manzoor</div>
		        </div>
            <div class='contributor'>
			           <div class='contributor-image'><img src='images/Juho.jpg' alt='profile picture' width="140" height="140"></div>
			           <div class='contributor-name'>Juho Kananen</div>
		        </div>
            <div class='contributor'>
			           <div class='contributor-image'><img src='images/Toni.jpg' alt='profile picture' width="140" height="140"></div>
			           <div class='contributor-name'>Toni Kleemola</div>
		        </div>
          </div>
      </div>
  </div>
</template>
