<template name="Documentation">
  <div>
      <div class="page-header">
          <h1>Documentation</h1>
      </div>
      <div class="row">
          <div class="col-sm-12">
            <p>...</p>

            <h3>Scheduling</h3>
            <p>Schedule your questionaire to appear following a change in the participant's context. AWARE Create currently supports the following events;</p>
            <ul>
              <li>Turning on the screen</li>
              <li>Unlocking the phone</li>
              <li>In a phone call</li>
              <li>Charging the phone's battery</li>
            </ul>
          </div>
      </div>
  </div>
</template>
