<template name="Header">
  <header>
      <nav class="navbar">
          <div class="container">
              <ul class="nav navbar-nav">
                  <li><a href="/">AWARE-Light</a></li>
                  <!--{{#if currentUser }}-->
                  <!--<li><a href="/panel">Control panel</a></li>-->
                  <!--{{/if}}-->
                  <!--<li><a href="/documentation">Documentation</a></li>-->
                  <!--<li><a href="/about">About</a></li>-->
              </ul>
          </div>
      </nav>
  </header>
</template>
