<template name="Header">
  <header>
      <nav class="navbar">
          <div class="container">
              <!-- <div class="navbar-header">
                  <a class="navbar-brand">ESM Creator</a>
              </div> -->
              <ul class="nav navbar-nav">
                  <li><a href="/">ESM Creator</a></li>
                  {{#if currentUser }}
                  <li><a href="/panel">Control panel</a></li>
                  {{/if}}
                  <li><a href="/documentation">Documentation</a></li>
                  <li><a href="/about">About</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  {{> loginButtons align="right"}}
              </ul>
          </div>
      </nav>
  </header>
</template>
