<template name="Register">
    <div>
        <div class="page-header">
            <h1>Register</h1>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    {{#if currentUser}}
                        <div class="panel-heading">
                            <h3>Hello {{currentUser.emails.[0].address}}!</h3>
                        </div>
                        <div class="panel-body">
                            <p>You are already logged in. Please <a href="" id="logout">log out</a> if you want to create a new account.</p>
                        </div>
                    {{else}}
                        {{> RegisterForm}}
                    {{/if}}
                </div>
            </div>
        </div>


    </div>
</template>

<template name = "RegisterForm">
    <div class="panel-heading">
        <h3>Create a new account</h3>
    </div>
    <div class="panel-body">
        <p class="instruction">Please provide the requested information below to set up your account. Any studies you create will be linked to the provided e-mail address.</p>

        <div class="form-group" data-required="true">
           <label class="col-sm-2 control-label">E-mail</label>
           <div class="col-sm-10">
               <input type="email" class="form-control" name="registerEmail" placeholder="E-mail address" />
               <span class="help-block"></span>
           </div>
           <label class="col-sm-2 control-label">Password</label>
           <div class="col-sm-10">
               <input type="password" class="form-control" name="registerPassword" placeholder="Password" />
               <span class="help-block"></span>
           </div><br>

          <button class="btn btn-primary">Register</button>
        </div>
   </div>
</template>
