<template name="Register">
        <div class="page-header">
            <h3>Sign in with Google</h3>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{#if currentUser}}
                    <p>Hello {{currentUser.profile.name}}! You are already logged in. Please <a href="" id="logout">log out</a> if you want to sign in with a different account.</p>
                {{else}}
                    <p class="instruction">To protect against misuse of our service, we require you to identify with a Google account prior to creating a study. Please sign in using the button below.</p>
                    <span class="loginPage">
                        {{> loginButtons align="left"}}
                    </span>
                {{/if}}
            </div>
        </div>
</template>