<template name="SingleQuestionnaireNav">
  <nav class="questionnaire-nav">
    <li>
      <a href="/questionnaire/{{questionnaire._id}}">Overview</a>
    </li>
    <li>
      <a href="/questionnaire/{{questionnaire._id}}/sensor">Sensors</a>
    </li>
    <li>
      <a href="/questionnaire/{{questionnaire._id}}/configuration">Configuation</a>
    </li>
    <li>
      <a href="/questionnaire/{{questionnaire._id}}/export">Export</a>
    </li>
    <li>
      <a href="/questionnaire-overview">Return to Overview</a>
    </li>
  </nav>
</template>
