<template name="studyExportedOverview">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1">
                {{#if Template.subscriptionsReady}}
                    {{> studyQrCode}}
                {{else}}
                    <p>Loading</p>
                {{/if}}

                {{#if Template.subscriptionsReady}}
                    {{> studyConfig}}
                {{else}}
                    <p>Loading</p>
                {{/if}}
            </div>
        </div>
    </div>
</template>