<template name="About">
  {{> Header}}
  <main>
    <div class="billboard">
      <h2>Create ESM magic</h2>
    </div>

    <div class="main-layout">
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, justo vitae tristique finibus, velit nisl molestie enim, ac pretium orci eros vel elit. Proin at neque in arcu vehicula vestibulum eu et velit. Nullam quis massa sed mi aliquam aliquam eget laoreet quam. Duis vehicula in ante at dictum. Vivamus rhoncus non purus in convallis. Mauris lobortis mollis nisi, a iaculis elit. Pellentesque vel velit nec arcu cursus varius. Integer maximus molestie maximus.</p>
    </div>
  </main>
  {{> Footer}}
</template>
