<template name="Documentation">
  {{> Header}}
  <main>
      <div class="container">
          <h2>To-do</h2>

          <!-- <br>
          <div class="row">
              <div class="well well-sm col-sm-6 col-sm-offset-3">
                  <h3 class="text-center"><strong>Sensors</strong></h3>
                  <p class="text-center">AWARE ESM supports multiple sensors which can be added in ESM-studies. Sensor's frequencies and options can be modified. </p>
                  <p class="text-center">Supported sensors are:</p>

                  <div class="row">
                      <div class="col-sm-4">
                          <p class="text-center"><strong>Accelerator</strong></p>
                          <p class="text-center"><strong>Application</strong></p>
                          <p class="text-center"><strong>Barometer</strong></p>
                          <p class="text-center"><strong>Battery</strong></p>
                          <p class="text-center"><strong>Bluetooth</strong></p>
                          <p class="text-center"><strong>Communication</strong></p>
                          <p class="text-center"><strong>Gravity</strong></p>
                      </div>

                      <div class="col-sm-4">
                          <p class="text-center"><strong>Gyroscope</strong></p>
                          <p class="text-center"><strong>Installations</strong></p>
                          <p class="text-center"><strong>Light</strong></p>
                          <p class="text-center"><strong>Linear Accelerometer</strong></p>
                          <p class="text-center"><strong>Location</strong></p>
                          <p class="text-center"><strong>Magnetometer</strong></p>
                          <p class="text-center"><strong>Network</strong></p>
                      </div>

                      <div class="col-sm-4">
                          <p class="text-center"><strong>Processor</strong></p>
                          <p class="text-center"><strong>Proximity</strong></p>
                          <p class="text-center"><strong>Rotation</strong></p>
                          <p class="text-center"><strong>Screen</strong></p>
                          <p class="text-center"><strong>Telephony</strong></p>
                          <p class="text-center"><strong>Temperature</strong></p>
                          <p class="text-center"><strong>Wi-Fi</strong></p>
                      </div>
                  </div>
                  <br>
                  <p class="text-center"><a href="http://www.awareframework.com/sensors/">More information about sensors.</a></p>
              </div>

              <br>
              <div class="well well-sm col-sm-6 col-sm-offset-3">
                  <h3 class="text-center"><strong>Question types</strong></h3>
                  <p class="text-center">AWARE ESM support multiple question:</p>
                  <div class="row ">
                      <p class="text-center"><strong>Free text</strong></p>
                      <p class="text-center"><strong>Radio</strong></p>
                      <p class="text-center"><strong>Checkboxes</strong></p>
                      <p class="text-center"><strong>Likert Scale</strong></p>
                      <p class="text-center"><strong>Quick answer</strong></p>
                      <p class="text-center"><strong>Scale</strong></p>
                      <p class="text-center"><strong>Numeric</strong></p>
                  </div>
                  <br>
                  <p class="text-center"><a href="http://www.awareframework.com/esm/">More information about AWARE-ESM and question types.</a></p>
              </div>
          </div> -->
      </div>
  </main>
  {{> Footer}}
</template>
