<template name="HomeLayout">
  {{> Header}}
  <main>
    <div class="billboard">
      <h2>Create Advanced Experience Sampling Studies. The Easy Way.</h2>
    </div>

    <div class="main-layout">
      <p class="primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, justo vitae tristique finibus, velit nisl molestie enim, ac pretium orci eros vel elit. Proin at neque in arcu vehicula vestibulum eu et velit.</p>

      <div class="row">
        <div class="col-md-4">
          <h4><i class="fa fa-flag"></i>ESM Creator</h4>
          <p>Create your own <em>Experience Sampling</em> studies using ESM Creator. Based on proven technology ...</p>
        </div>
        <div class="col-md-4">
          <h4><i class="fa fa-magic"></i>Easy To Use</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, justo vitae tristique finibus.</p>
        </div>
        <div class="col-md-4">
          <h4><i class="fa fa-lock"></i>Secure</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, justo vitae tristique finibus.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4><i class="fa fa-magic"></i>Advanced Configuration</h4>
          <p>Build </p>
        </div>
        <div class="col-md-4">
          <h4><i class="fa fa-flag"></i>Open Source</h4>
          <p>ESM Creator is completely free to use, and its source code is <a href="https://www.github.com">publicly available</a>.</p>
        </div>
        <div class="col-md-4">
          <h4><i class="fa fa-lock"></i>Secure</h4>
        </div>
      </div>

      <h3>Experience Sampling</h3>
      <p>Curabitur sit amet libero laoreet, consequat ex id, scelerisque purus. Nam fermentum purus nec ante viverra, ut placerat orci rutrum. Vestibulum accumsan odio dui, eget blandit neque auctor vitae. Integer sed dignissim nibh, vitae tristique nisi.</p>
    </div>
  </main>
  {{> Footer}}
</template>
